<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCsuBhsogcb2MYLvRBLd1GRYzSCcMsv-TA</string>
	<key>GCM_SENDER_ID</key>
	<string>38784950162</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jamanet.app.device</string>
	<key>PROJECT_ID</key>
	<string>app-admin-device</string>
	<key>STORAGE_BUCKET</key>
	<string>app-admin-device.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:38784950162:ios:dd43594f69665bcc8eab4b</string>
</dict>
</plist>